$phone-width: 768pt;
$tablet-width: 1024pt;
@mixin phone {
  @media (max-width: #{$phone-width - 1pt}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet-width - 1pt}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
$primary: #5b8e3f;
$secondary: #EEEEEE;

html, body {font-family: 'Montserrat', sans-serif !important;}
#logo {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40pt;
  color: $secondary;
  margin: 3pt 10pt 0;
  z-index: 99;
  cursor: pointer;
}

#wrapper {
  color: #2D2D2D;
  text-align: center;
  nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $primary;
    line-height: 70px;
    z-index: 98;
  }
  #title {
    margin-top: 25pt;

    h1, p, hr {
      margin: 25px 15vw;
    }

    h1 {
      padding-top: 100px;
      font-size: 4em;
      @include phone {font-size: 3em;}

      span:first-of-type, span:last-of-type {
        color: #5b8e3f;
      }

      span:last-of-type {
        position: absolute;
        font-size: 0.15em;
        margin-top: 10pt;
      }
    }

    p {
      font-size: 1.2em;
      @include phone {font-size: 1.5em;}
    }

    h2 {
      font-size: 2em;
      opacity: 0;
      transform: translateY(25px);
      transition: all .3s ease .5s;
    }
  }
  #content {
    margin: 25pt 25pt;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include desktop {justify-content: space-between;}

    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 30vw;
      height: auto;
      background: #ebebeb;
      padding: 100pt 5pt;
      transition: opacity .3s ease, transform .3s ease;
      opacity: 0;
      transform: translateY(25px);
      -webkit-box-shadow: inset -5px 5px 15px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: inset -5px 5px 15px 0px rgba(0,0,0,0.3);
      box-shadow: inset -2px 2px 15px 0px rgba(0,0,0,0.3);
      @include tablet {padding: 25px;}
      @include phone {padding: 25px;}

      h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        @include phone {font-size: 3em;}
      }

      i {
        color: $primary;
        font-size: 6em;
      }

      p {
        margin-top: 10px;
      }
    }

    div:first-of-type {
      transition-delay: 1s;
      @include tablet {width: 34.5vw; margin: 0 1vw 0.5vw 0;}
      @include phone {width: 75vw; margin: 25px auto;}
    }
    div:nth-of-type(2) {
      transition-delay: 1.5s;
      @include tablet {width: 34.5vw; margin: 0 0 0.5vw 1vw;}
      @include phone {width: 75vw; margin: 25px auto;}
    }
    div:nth-of-type(3) {
      transition-delay: 2s;

      .social {
        display: flex;
        flex-direction: row;
        align-self: center;
        padding: 0;
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: transparent;

        i {
          margin: 0 10px;
        }
      }
      @include tablet {margin: 0;}
      @include tablet {width: 75vw; margin: 25px auto;}
    }
  }
}

iframe {
  position: fixed;
  left: 5pt;
  bottom: 15pt;
}