// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.copyright {
  margin-top: 16pt;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}