// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

.btn, button, input[type=submit] {
  display: inline-block;
  width: auto;
  height: $md;
  line-height: $md;
  text-align: center;
  font-size: $tM;
  padding: 0 16pt;
  border: none;
  border-radius: 3px;
  background: $brand-color;
  color: $light-grey;
  cursor: pointer;
  white-space: nowrap;
  transition: all .2s ease-in-out;
  &:hover {
    background: rgba($brand-color, 0.75);
  }
}

.btnL {
  height: $lg;
  line-height: $lg;
  font-size: $tL;
}

.btnS {
  height: $sm;
  line-height: $sm;
  font-size: $tS;
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  font-size: $tS;
  cursor: pointer;

  & > * {
    display: inline-block;
  }
}