.mShadow {
  box-shadow: 0 0 8px 2px rgba(black,0.5);
}

.dShadow {
  box-shadow: 2px 2px 4px 0 rgba(black,0.5);
}

.idShadow {
  box-shadow: inset 2px 2px 8px 0 rgba(black,0.5);
}

.bShadow {
  box-shadow: 0 6px 8px -2px rgba($shadow-grey, 0.75);
}
.ibShadow {
  box-shadow: inset 0 -6px 8px -2px rgba($shadow-grey, 0.75);
}
.aShadow {
  box-shadow: 0 -6px 8px -2px rgba($shadow-grey, 0.75);
}
.iaShadow {
  box-shadow: inset 0 6px 8px -2px rgba($shadow-grey, 0.75);
}