.toggle {
  display: inline-block;
  width: 32pt;
  height: 16pt;
  border-radius: 15px;
  padding: 1pt 2pt;
  margin: 0;
  background: #e0e0e0;
  cursor: pointer;
  box-shadow: inset 4px 2px 4px 0 rgba(0,0,0,0.4);
  z-index: 0;
  transition: color .2s ease;

  .toggleBtn {
    position: relative;
    display: block;
    width: 14pt;
    height: 14pt;
    background: $bg;
    border: 1px solid $text-color;
    border-radius: 50%;
    z-index: 1;
    transition: transform .15s ease-in-out;
  }
}

.toggleOn {
  background: rgba(90, 141, 62, 0.75);
  .toggleBtn {
    transform: translateX(100%);
  }
}

.toggleBig {
  width: 60pt;
  height: $md;
  border-radius: 7px;
  padding: 1pt;

  .toggleBtn {
    width: $md - 4;
    height: $md - 4;
    border-radius: 7px;
  }

  .toggleOn {
    .toggleBtn {
      //transform: translateX(100%);
    }
  }
}