// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

// 2. Vendors
//@import

// 3. Base stuff
@import
'base/reset',
'base/base',
'base/fonts',
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import
'layout/nav',
'layout/header',
'layout/footer',
'layout/grid';

@import
"components/widget",
"components/button";

#wrapper {
  color: $text-color;
  text-align: center;
  #title {
    margin-top: 8pt;

    hr {
      max-width: 80vw;
      margin: 16pt auto;
    }

    h1 {
      padding-top: 64pt;
      font-size: 3em;
      font-weight: 600;

      span:first-of-type, span:last-of-type {
        color: $brand-color;
      }

      span:last-of-type {
        position: absolute;
        font-size: 0.15em;
        margin-top: 10pt;
      }
    }

    h2 {
      margin-bottom: 8pt;
      font-size: 1.5em;
      font-weight: 600;
      opacity: 0;
      transform: translateY(25px);
      transition: all .3s ease .5s;
    }

    @include screen('md') {
      margin: 0 16pt;

      p {
        margin-bottom: 4pt;
      }
    }
  }
  #content {
    justify-content: space-around;

    & > div {
      background: rgba($light-grey, 0.6);
      padding: 100pt 16pt;
      opacity: 0;
      transform: translateY(25px);
      box-shadow: inset -2px 2px 15px 0px rgba(0,0,0,0.3);
      transition: opacity .3s ease, transform .3s ease;

      h1 {
        font-size: 1.8em;
        font-weight: 600;
        margin-bottom: 20px;
      }

      i {
        font-size: 6em;
      }

      p, button {
        margin-top: 10px;
      }

      @include screen('md') {
        margin: 16pt;
        padding: 24pt;

        h1 {
          font-size: 1.4em;
        }
      }
    }

    div:first-of-type {
      transition-delay: 1s;
    }
    div:nth-of-type(2) {
      transition-delay: 1.5s;
    }
    div:nth-of-type(3) {
      transition-delay: 2s;

      .social {
        display: flex;
        flex-flow: row nowrap;
        align-self: center;

        i {
          margin: 0 8pt;
        }
      }
    }
  }
}
