// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

// 2. Vendors
//@import

// 3. Base stuff
@import
'base/reset',
'base/base',
'base/fonts',
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import
'layout/nav',
'layout/header',
'layout/footer',
'layout/grid';

@import
"components/widget",
"components/button";

#wrapper {
  color: $text-color;
  text-align: center;
  #title {
    margin-top: 8pt;

    hr {
      max-width: 90vw;
      margin: 16pt auto;
    }

    h1 {
      position: relative;
      margin: 64pt 0 8pt;
      font-size: 3em;
      line-height: 1;
      font-weight: 600;

      span:first-of-type, span:last-of-type {
        color: $brand-color;
      }

      span:last-of-type {
        position: absolute;
        font-size: 0.15em;
      }
    }

    h2 {
      margin-bottom: 8pt;
      font-size: 1.5em;
      font-weight: 600;
      transition: all .15s ease .15s;
    }

    @include screen('md') {
      margin: 0 16pt;

      p {
        margin-bottom: 4pt;
      }
    }

    @include screen('sm') {
      h1 {
        font-size: 1.5em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }
  #content {
    justify-content: space-around;
    padding: 8pt 24pt;

    & > div {
      background: rgba($light-grey, 0.6);
      padding: 40pt 16pt;
      box-shadow: inset -2px 2px 15px 0px rgba(0,0,0,0.3);
      transition: opacity .15s ease-in, transform .15s ease-in;

      h1 {
        font-size: 1.8em;
        font-weight: 600;
        margin-bottom: 20px;
      }

      i {
        font-size: 4em;
      }

      p, button {
        margin-top: 10px;
      }

      &:first-of-type {
        transition-delay: 1s;
        input, button {
          width: 90%;
          margin: 4pt auto;
        }
      }
      &:nth-of-type(2) {
        transition-delay: 1.5s;
        i {
          margin-bottom: 8pt;
        }
      }
      &:nth-of-type(3) {
        transition-delay: 2s;

        .social {
          display: flex;
          flex-flow: row nowrap;
          align-self: center;

          i {
            margin: 0 8pt;
          }
        }
      }

      @include screen('md') {
        padding: 24pt;

        h1 {
          font-size: 1.4em;
        }
      }
      @include screen('tiny') {
        padding: 40pt 4pt;
      }
    }
  }
}
