// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,600,900|Open+Sans|Titillium+Web');

/// Regular font family
/// @type List
$text-font-stack: 'Montserrat', 'Open Sans', sans-serif !default;

//  Number font family
$number-font-stack: "Titillium Web", "Open Sans", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$colorblind: false !default;
.colorblind {
  $colorblind: true;
}

///Background color
///@type Color
$bg: rgb(255, 255, 255) !default;

/// Copy text color
/// @type Color
$text-color: rgb(45, 45, 45) !default;

$brand-color: #5a8d3e !default;
$drop-color: #9e1e1e !default;

//@if $colorblind == false {
//  $brand-color: #0169AB !default;
//  $drop-color: #C95200 !default;
//} @else {
//  $brand-color: #5a8d3e !default;
//  $drop-color: #9e1e1e !default;
//}

/// Accent color
/// @type Color
$accent: rgb(219, 202, 46) !default;
//rgb(219, 202, 46)

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;
$darker-light-grey: rgb(220, 220, 220) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;
$darker-mid-grey: rgb(108, 108, 108) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

$shadow-grey: rgb(135, 135, 135) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Button variables
$sm: 24pt;
$md: 32pt;
$lg: 40pt;
$xl: 48pt;

/// Text sizes
$tXS: 0.6em;
$tS: 0.8em;
$tM: 1em;
$tL: 1.2em;
$title: 2.2em;

/// Mobile sizes
$mtM: 1.4em;
$mtL: 1.6em;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'tiny' : 400px,
    'sm'  : 767px,
    'md' : 992px,
    'lg'  : 1200px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$card-width: 248pt;
$large-card-width: 504pt;

.colorblind {
  $brand-color: #0169AB;
  $drop-color: #C95200;
}